@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;
  margin: 0; /* 外側の余白をなくす */
  padding: 0; /* 内側の余白をなくす */
  overflow-x: hidden; /* 横スクロールバーを無効化 */

  @media (prefers-color-scheme: dark) {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme */
    color-scheme: dark;
  }
}
